<footer class="bg-light">
    <div class="container">
        <div class="f-logo">
            <a class="logo" href="{{ path('app_home') }}">MINI-BLOG</a>
        </div>

        <div class="f-content">
            <h5 class="f-title">Navigation</h5>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('app_admin_blog_index') }}">Admin</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; Copyright | Tout droit reservée | Créer par <a href="http://ousseine.fr/" target="_blank">Mohamed Ousseine</a></p>
    </div>
</footer>