<form method="post" action="{{ path('app_admin_blog_delete', {'id': post.id}) }}" onsubmit="return confirm('Est-vous sur de vouloir supprimer cet article?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
